:root{
    --color1: #DE8F6E;
    --color1dark: #431F0F;
    --color1light: #ECBFAC;
    /* --color2: #2D93AD; */
    --color2: #247C94;
    --color2dark: #103742; 

    --mainWidth: 60%;
}

html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color1);
    font-size: 20px;
}

header{
    background-color: var(--color2);
    width: 100%;
    height: 3em;
    position: relative;
    left: 0;
    top: 0;
    padding: 1em;
    color: var(--color1light);
    box-sizing: border-box;
    z-index: 3;
}

/* This is the leaderboard button on the header */
#highscores{
    width: 0;
}

#highscores:hover{
    color: var(--color1dark);
    cursor: pointer;
}

/* this is the leaderboard itself */
#leaderboard{
    display: none;
    width: 25%;
    position: absolute;
    left: 0;
    top: 3em;
    background-color: var(--color2);
    border-top: 0.1em black solid;
    box-sizing: border-box;
}

.leaderboard-entry{
    display: flex;
    justify-content: left;
    padding: 0.2em 5%;
    text-align: left;
}

.leaderboard-entry *{
    margin: 0 5%;
    flex-basis: 30%;
}

.leaderboard-position{
    flex-basis: 10%;
}

/* this hides the template for leaderboard entries */
#leaderboard-entry-template{
    display: none;
}

/* this is the time and score at top of screen */
#score-card{
    display: flex;
    width: var(--mainWidth);
    margin: 0 auto;
}

#score-card *{
    flex-basis: 50%;
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0.6em;
}

/* this sets up the question text */
#question{
    width: var(--mainWidth);
    margin: 0 auto;
    color: var(--color2dark);           
}

#answer-box{
    width: var(--mainWidth);
    margin: 0 auto;
    border-top: 0.1em solid var(--color2dark);
}

.answer{
    background-color: var(--color2);
    margin: 1em;
    color: var(--color1light);
    pointer-events: none;
}

.answer:hover{
    background-color: var(--color2dark);
    color: var(--color1);
}

/* this applies to all buttons */
button{
    border: none;
    text-align: left;
    display: block;
    max-width: 100%;
    min-width: 30%;
    border-radius: 0.6em;
    box-shadow: 0 0 10px -5px black;
    padding: 1em;
    font-size: 18px;
}

/* this greys out the main screen while popups are showing by having JavaScript change the alpha channel of the background color */
#grey-out{
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.popup{
    background-color: var(--color2);
    width: var(--mainWidth);
    position: absolute;
    left: calc((100% - var(--mainWidth)) / 2);
    top: 10em;
    border-radius: 1em; 
    z-index: 3;
    text-align: center;
}

/* this is used to show or hide the quiz results popup */
#quiz-results{
    display: none;
}

/* this is used to show or hide the start popup */
#start{
    display: block;
}

#start button{
    margin: 1.5em auto;
}

h3{
    text-align: center;
    font-size: 162%;
    color: white;
}

/* this is the input where people can input initials */
input{
    display: block;
    background-color: var(--color1);
    color: var(--color2dark);
    border-radius: 0.2em;
    outline: dashed 1.5px;
    border: none;
    width: 3em;
    text-align: center;
    margin: 0 auto;
    font-size: 162%;
}

span{
    display: block;
    color: var(--color1light);
    width: 80%;
    margin: 1em auto;
}

#button-holder{
    display: flex;
    justify-content: space-around;
    margin: 0em auto;
    padding: 1em;
    width: 90%;
    box-sizing: border-box;
}

.popup button{
    flex-basis: 20%;
    width: 10%;
    background-color: var(--color1);
    color: var(--color2dark);
    text-align: center;
    font-size: larger;
    padding: 0.5em;
    margin: 0.7em auto;
}

.popup button:hover{
    background-color: var(--color1dark);
    color: var(--color2);
}

@media (max-width: 690px) {
    :root{
        --mainWidth: 80%;
    }

    html, body{
        font-size: 16px;
    }

    button{
        font-size: 14px;
    }

    #leaderboard{
        width: 50%;
    }

    #button-holder{
        width: 100%;
    }

    #start button{
        width: 40%;
    }
}