:root{
    --color1: #DE8F6E;
    --color1dark: #431F0F;
    --color1light: #ECBFAC;
    /* --color2: #2D93AD; */
    --color2: #247C94;
    --color2dark: #103742; 

    --mainWidth: 50%;
}

html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color1);
}

header{
    background-color: var(--color2);
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 1em;
    color: var(--color1light);
    box-sizing: border-box;
}

#highscores{
    width: 0;
}

#highscores:hover{
    color: var(--color1dark);
    cursor: pointer;
}

#score-card{
    display: flex;
    width: var(--mainWidth);
    margin: 0 auto;
}

#score-card *{
    flex-basis: 50%;
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0.6em;
}

#question{
    width: var(--mainWidth);
    margin: 0 auto;
    color: var(--color2dark);           
}

#answer-box{
    width: var(--mainWidth);
    margin: 0 auto;
    border-top: 0.1em solid var(--color2dark);
}

.answer{
    background-color: var(--color2);
    margin: 1em;
    color: var(--color1light);
}

.answer:hover{
    background-color: var(--color2dark);
    color: var(--color1);
}

button{
    border: none;
    text-align: left;
    display: block;
    max-width: 100%;
    min-width: 30%;
    border-radius: 0.6em;
    box-shadow: 0 0 10px -5px black;
    padding: 1em;
}

#grey-out{
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

#quiz-results{
    display: none;
    background-color: var(--color2);
    width: var(--mainWidth);
    position: absolute;
    left: calc((100% - var(--mainWidth)) / 2);
    top: 10em;
    border-radius: 1em; 
    z-index: 3;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 162%;
    color: white;
}

input{
    display: block;
    background-color: var(--color1);
    color: var(--color2dark);
    border-radius: 0.2em;
    outline: dashed 1.5px;
    border: none;
    width: 3em;
    text-align: center;
    margin: 0 auto;
    font-size: 162%;
}

span{
    display: block;
    color: var(--color1light);
    margin: 1em;
}

#button-holder{
    display: flex;
    justify-content: space-around;
    margin: 0em auto;
    padding: 1em;
    width: 90%;
    box-sizing: border-box;
}

#button-holder button{
    flex-basis: 20%;
    width: 10%;
    background-color: var(--color1);
    color: var(--color2dark);
    text-align: center;
    font-size: larger;
    padding: 0.5em;
    margin: 0.7em;
}

#button-holder button:hover{
    background-color: var(--color1dark);
    color: var(--color2);
}